<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.min.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Buttons | Neptune examples</title>
    </head>
    <body id="body" data-scrollbar>
        <h3 class="example-title">Primary button</h3>
        <div class="example-box">
            <button class="button-primary button-l">Primary L</button>
            <button class="button-primary button-m">Primary M</button>
            <button class="button-primary button-s">Primary S</button>
        </div>

        <h3 class="example-title">Secondary button</h3>
        <div class="example-box">
            <button class="button-secondary button-l">Secondary L</button>
            <button class="button-secondary button-m">Secondary M</button>
            <button class="button-secondary button-s">Secondary S</button>
        </div>

        <h3 class="example-title">CTA button</h3>
        <div class="example-box">
            <button class="button-cta button-l">CTA L</button>
            <button class="button-cta button-m">CTA M</button>
            <button class="button-cta button-s">CTA S</button>
        </div>

        <!-- Init scrollbar -->
        <script src="/node_modules/smooth-scrollbar/dist/smooth-scrollbar.js"></script>
        <div id="scrollbar"></div>
        <script>Scrollbar.initAll();</script>
        <!-- Init scrollbar -->
    </body>
</html>