<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import example style -->
        <link rel="stylesheet" href="/examamples/example_style.css">

        <!-- Import neptune ui -->
        <link rel="stylesheet" href="/neptune.css">

        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <title>Buttons | Neptune examples</title>
    </head>
    <body>
        <style>
            body {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .button-container {
                position: relative;
                width: 25rem;
                height: 10rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }

            h3 { margin: 1rem;}
        </style>

        <div class="button-container">
            <h3>Primary button</h3>
            <button class="button-primary button-l">Primary Button L</button>
            <button class="button-primary button-m">Primary Button M</button>
            <button class="button-primary button-s">Primary Button S</button>
        </div>

        <div class="button-container">
            <h3>Secondary button</h3>
            <button class="button-secondary button-l">Secondary Button L</button>
            <button class="button-secondary button-m">Secondary Button M</button>
            <button class="button-secondary button-s">Secondary Button S</button>
        </div>

        <div class="button-container">
            <h3>CTA button</h3>
            <button class="button-cta button-l">CTA Button L</button>
            <button class="button-cta button-m">CTA Button M</button>
            <button class="button-cta button-s">CTA Button S</button>
        </div>
    </body>
</html>