* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
}

.neptuneLogo {
    position: relative;
    max-width: 35rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logoImage {
    position: relative;
    height: 6rem;
}

.logoText {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: hsl(190, 100%, 45%);
}