/* Default button */
button {
    position: relative;
    box-sizing: border-box;
    border-radius: var(--radius-m);
    border: none;
    color: var(--text-button);
    max-width: 450px;
    position: relative;
    transition: var(--transition-duration);
}

button:hover {
    cursor: pointer;
}

/* Button sizes */
.button-s {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    min-width: 96px;
    padding: 8px 20px;
}

.button-m {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    min-width: 128px;
    padding: 10px 26px;
}

.button-l {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    min-width: 128px;
    padding: 12px 32px;
}

/* Primary button */
.button-primary { background-color: var(--primary-l-50);}
.button-primary:hover { background-color: var(--primary-l-60);}
.button-primary:active { background-color: var(--primary-40);}
.button-primary:focus {
    box-shadow: 0 0 0 3px var(--primary-l-80);
    outline-color: transparent;
    outline-style: solid;
}
.button-primary:disabled {
    background-color: var(--primary-l-80);
}
.button-primary:disabled:hover {
    background-color: var(--primary-l-80);
    cursor: not-allowed;
}

/* secondary button */
.button-secondary { 
    box-sizing: border-box;
    border: 3px solid var(--primary-l-50);
    background-color: transparent;
    color: var(--primary-l-50);
}
.button-secondary:hover { background-color: var(--primary-l-60);}
.button-secondary:active { background-color: var(--primary-40);}
.button-secondary:focus {
    box-shadow: 0 0 0 3px var(--primary-l-80);
    outline-color: transparent;
    outline-style: solid;
}
.button-secondary:disabled {
    background-color: var(--primary-l-80);
}
.button-secondary:disabled:hover {
    background-color: var(--primary-l-80);
    cursor: not-allowed;
}

/* CTA button */
.button-cta { background-color: var(--accent-l-50);}
.button-cta:hover { background-color: var(--accent-l-60);}
.button-cta:active { background-color: var(--accent-40);}
.button-cta:focus {
    box-shadow: 0 0 0 3px var(--accent-l-80);
    outline-color: transparent;
    outline-style: solid;
}
.button-cta:disabled {
    background-color: var(--accent-l-80);
}
.button-cta:disabled:hover {
    background-color: var(--accent-l-80);
    cursor: not-allowed;
}